<%- include('./partials/header.ejs') %>

<section id="sec" style="height: 100vh; background: whitesmoke ">
  <div class="row" style="padding-left: 290px; padding-top: 100px;">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <h4>Login Page</h4>
          <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <input
              type="submit"
              value="login"
              class="btn btn-primary"
              style="align-items: center;background-color: #f67590"
            />
          </form>
          <form action="/dummy" method="POST" id="form"></form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/footer.ejs')%>
