<%- include('./partials/header.ejs') %>

<section id="sec" style="height: 100vh; background: #e1f5fe ">
  <div class="row" style="padding-left: 290px; padding-top: 100px;">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <input
              type="submit"
              value="login"
              class="btn btn-primary"
              onclick="clicked()"
              style="align-items: center;"
            />
          </form>
          <form action="/dummy" method="POST" id="form"></form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDxCp4rRt3RgqB0Np96F0hLfICulw9ts2Q",
    authDomain: "honeyword-3d4e1.firebaseapp.com",
    databaseURL: "https://honeyword-3d4e1.firebaseio.com",
    projectId: "honeyword-3d4e1",
    storageBucket: "",
    messagingSenderId: "201836874777"
  };
  firebase.initializeApp(config);
  let db = firebase.database().ref("count");

  function clicked() {
    //db.update(data);

    let ref = db.on("value", gotData, err);

    function gotData(data) {
      console.log("data : " + data.val().count);
    }

    function err() {
      console.log("err");
    }
    //db.push(count);
    //if (count >= MAX) {
    //    document.getElementById('form').submit();
    //}
  }
</script>

<%- include('./partials/footer.ejs')%>
